body {
    background-color: rgb(98, 97, 97);
}

.container {
    display: grid;
    justify-content: space-around;







}


.box {
    display: flex;
    justify-content: center;
    height: 500PX;


}

#box1 {
    font-size: 80px;


}

.bottones>.boton {
    font-size: 70px;
    height: 75px;
    border-radius: 2%;
    cursor: pointer;
    margin-left: 20%;
}

.title2 {
    font-size: 70px;
}

.nickname {

    font-size: 30px;
}

.nickname>input {
    height: 20px;
}

.botones2>.beginner,
.botones2>.intermedio,
.botones2>.advanced {
    font-size: 25px;
    height: 75px;
    width: 190px;
    border-radius: 2%;
    cursor: pointer;
    margin-left: 6%;
    margin-top: 5%;
}

.container2>#fondo,
.container2>#fondo2,
.container2>#fondo3,
.container2>#fondo4 {
    height: 100px;

    width: 100px;
}

.container2 {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 10px;
    justify-content: center;
    align-items: center;

}

.botones{
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.botones> .fondo
 {
    height: 100px;

    width: 100px;
}