body {
    background-color: rgb(98, 97, 97);
}

.container {
    display: grid;
    justify-content: space-around;







}


.box {
    display: flex;
    justify-content: center;
    height: 500PX;


}

#box1 {
    font-size: 80px;
    height: 400px;

}

.bottones>.boton {
    font-size: 70px;
    height: 75px;
    border-radius: 2%;
    cursor: pointer;
    margin-left: 20%;
}

.title2 {
    font-size: 80px;
}

.nickname {

    font-size: 30px;
}

.nickname>input {
    height: 20px;
}

.botones2>.beginner,
.botones2>.intermedio,
.botones2>.advanced {
    font-size: 25px;
    height: 75px;
    width: 190px;
    border-radius: 2%;
    cursor: pointer;
    margin-left: 6%;
    margin-top: 5%;
}

.container2>#fondo,
.container2>#fondo2,
.container2>#fondo3,
.container2>#fondo4,
.container2>#fondo5,
.container2>#fondo6 {
    height: 100px;

    width: 100px;
}

.container2 {
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 10px;
    justify-content: center;
    align-items: center;

}

.botones {
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 10px;
    justify-content: left;
    align-items: center;
    position: absolute;
    bottom: 30%;
    left: 5%;

}

.fondo>select {
    height: 100px;

    width: 100px;

}

#miBoton {

    position: absolute;
    left: 20%;
    top: 75%;
    height: 50px;
    width: 150px;
}




.try {
    display: flex;
    justify-content: space-around;
    position: relative;
    left: 70%;
    bottom: 100%;

}

.left,
.right {
    display: flex;
    margin: 3%;
    margin-bottom: -3%;
}

.right>div {

    position: relative;
    top: 30%;
    left: 100%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(169, 166, 166);
    margin: 5px;
}

.left>div {
    position: relative;
    top: 30%;
    left: 50%;
    width: 45px;
    height: 45px;
    border-radius: 10%;
    background-color: rgb(195, 194, 194);
    margin: 5px;
}


.title>h2 {
    font-size: 100px;
}

.description-container {
    border: solid black;
    margin-bottom: 5%;
}

.footer {
    border: solid black;
}

.back {
    height: 50px;
    width: 150px;
    position: relative;
    left: 40%;
    margin-top: 5%;
    border-radius: 2%;
    cursor: pointer;
    background-color: rgb(175, 175, 175);
}

.miBoton2 {
    position: absolute;
    left: 60%;
    top: 75%;
    height: 50px;
    width: 150px;
}